[package]
name = "env-encrypter-rust"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "envcrypt"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5", features = ["derive"] }

[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.0"
tempfile = "3.10"
